// SCSSの書き方の例
#navbar {
    margin: auto;
    .wrap {
        margin: 0 auto;
        width: 200px;
        .title {
            font-size: medium;
            &_row {
                display: flex;
                &_label {
                    margin-left: 20px;
                }
            }
        }
    }
}